{% extends 'sitepages/base2.html' %}

{% block aboutpage_content %}
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">{{ pslug }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">{{ pslug }}</li>
        </ol>
      </nav>
    </div>
  </div>

  {% if validlink %}

  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
  </form>
  
  {% else %}
  
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  
  {% endif %}
{% endblock %}



